{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-5">
            <!-- Recipes Title -->
            <h2 class="text-center brand-title">Plant Based Recipes!</h2>

            <p class="lato-light-italic text-center">Here are a selection of our favourite recipes. Please
                feel free to leave any feedback in the comments section within each recipe.<br>
                We look forward to you trying these recipes for yourself, and hope you feel as amazing
                afterwards as we do!</p>
        </div>
    </div>
</div>

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-5 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container text-center">
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img src="{% static 'images/default.jpg' %}" class="card-img-top"
                                        alt="placeholder image">
                                    {% else %}
                                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}"
                                        style="width: 200px; height: 200px; object-fit: cover;">
                                    {% endif %}
                            </div>
                            <p class="card-title text-center lato-light-italic h2">{{ post.title }}</p>
                            <p class="card-title text-center lato-light-italic h5">{{ post.duration }}, Serves
                                {{post.serves}}
                            </p>
                            <p class="card-title text-center lato-light-italic h5">{{ post.source_of }}</p>
                            </a>
                            <hr />
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}