{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6 mt-5 p-auto d-flex align-items-center 
        justify-content-center text-center brand">
            <h1 class="fw-bold fs-1 fs-5 fs-md-4 fs-lg-3">{{post.title }}</h1>
        </div>
        <div class=" col-6 mt-5 p-6 image-container text-center ">
            {% if " placeholder" in post.featured_image.url %} <img class="text-center img-fluid"
                src="{% static 'images/default.jpg' %}" alt="placeholder image">
            {% else %}
            <img class="text-center img-fluid" src=" {{ post.featured_image.url }}" alt="{{ post.title }}"
                style="max-width: 100%; height: auto; object-fit: cover;">
            {% endif %}
        </div>
    </div>
</div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- These are all the fields I want to display in the container. 
                    I have used the | safe filter inside the template tags -->
                <p class="card-text text-center lato-light-italic fs-5 fs-md-4 fs-lg-3"">
                    <i class=" fa-solid fa-clock"></i>{{ post.duration | safe }},
                    <i class="fa-solid fa-user"></i> Recipe serves {{ post.serves | safe }} people
                    <br>
                    <i class="fa-solid fa-leaf"></i></i>{{ post.source_of | safe }}
                    <br>
                    {{ post.details | safe }}
                    <br>
                    <hr />
            </div>
            <div class="card-text text-center lato-light-italic fs-5 fs-md-4 fs-lg-3"">

                {{ post.ingredients | safe }}
                <br>
                {{ post.method | safe }}
                <br>
                <hr />
            </div>
            <div class=" card-text text-end lato-light-italic fs-5 fs-md-4 fs-lg-3"">
                Post updated on: {{ post.updated_on | safe }}
                <br>
            </div>
        </div>
    </div>
    <!-- Displaying number of comments for each recipe -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <!-- Displaying approved comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 lato-light-italic fs-5 fs-md-4 fs-lg-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-delete" comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>

        <!-- Creating New Comment for individual recipes -->
        <div class="col-md-4 card mb-4 mt-3 lato-light-italic fs-5 fs-md-4 fs-lg-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit"
                        class="btn btn-signup btn-lg lato-light-italic fs-5 fs-md-4 fs-lg-3">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment</p>
                {% endif %}
            </div>
        </div>

    </div>

</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}