{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <!--Page Title -->
            <h1 class="text-center brand-title">Plant Life Blog</h1>

            <p class="text-center brand">"A Plant Based diet is not a sacrifice, its a Joy!"</p>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active text-center">
                                <img src="{% static 'images/avacado.avif' %}" class="d-block w-60 mx-auto"
                                    alt="Slide 1">
                                <div class="carousel-caption d-none d-md-block p-5" style="position: sticky;">
                                    <h4 class="lato-light-italic"><mark>One of our amazing breakfast recipes!</mark>
                                    </h4>
                                    <p class="lato-light-italic"><mark>Choose from a selection of yummy
                                            recipes to give you the best start
                                            to the day!</mark></p>
                                </div>
                            </div>
                            <div class="carousel-item text-center">
                                <img src="{% static 'images/toast.avif' %}" class="d-block w-60 mx-auto" alt="slide 2">
                                <div class="carousel-caption d-none d-md-block p-5 brand" style="position: sticky;">
                                    <h4 class="lato-light-italic"><mark>Almond Butter and Blueberrys on Toast</mark>
                                    </h4>
                                    <p class="lato-light-italic"><mark>Just one of our special nut butters that go with
                                            so many recipes.</mark>
                                    </p>
                                </div>
                            </div>
                            <div class="carousel-item text-center">
                                <img src="{% static 'images/pancakes.avif' %}" class="d-block w-60 mx-auto"
                                    alt="Slide 3">
                                <div class="carousel-caption d-none d-md-block p-5 brand" style="position: sticky;">
                                    <h4 class="lato-light-italic"><mark>Pancakes</mark></h4>
                                    <p class="lato-light-italic"><mark>Full of Protein and choose lots of
                                            fillings</mark></p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>

        <p class="text-center p-4"> Hello, and welcome to our Plant Based Blog. </p>

        <div class="images-container p-4 text-center">
            <div class="row row row-cols-1 row-cols-md-4 g-3">
                <div class="col">
                    <img src="{% static 'images/breakfast.avif' %}" alt="breakfast image"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <div class="col">
                    <img src="{% static 'images/mains.jpg' %}" alt="Mains image"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <div class="col">
                    <img src="{% static 'images/desserts.avif' %}" alt="Desserts image"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </div>
                <div class="col">
                    <img src="{% static 'images/snacks.jpg' %}" alt="Drinks image"
                        style="width: 150px; height: 150px; object-fit: cover;">
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}