{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-5">
            <!-- Benefits Title -->
            <h2 class="text-center brand-title">What are the benefits of a Plant Based Diet?</h2>
            <!-- Content goes directly underneath this -->
            {{ benefits.content | safe }}
        </div>
    </div>
</div>

<!--This is the 'Benefits'container-->
<div class="container mt-5 ">
    <div class="row">
        <!--Benefit 1-->
        <div class="col-4 mt-5">
            <img src="{% static 'images/default.png' %}" width="75%" alt="Image of Male">
        </div>
        <div class="col-8 mt-5">
            <p>Benefit 1</p>
        </div>
    </div>

    <div class="row">
        <!--Benefit 2-->
        <div class="col-8 mt-5">
            <p> Benefit 2</p>
        </div>

        <div class="col-4 mt-5">
            <img src="{% static 'images/default.png' %}" width="75%" alt="Image of Male">
        </div>
    </div>

    <div class="row">
        <div class="col-4 mt-5">
            <!--Benefit 3-->
            <img src="{% static 'images/default.png' %}" width="75%" alt="Image of Male">
        </div>
        <div class="col-8 mt-5">
            <p> Benefit 3</p>
        </div>
    </div>

    <div class="row">
        <!--Benefit 4-->
        <div class="col-8 mt-5">
            <p> Benefit 4</p>
        </div>
        <div class="col-4 mt-5">
            <img src="{% static 'images/default.png' %}" width="75%" alt="Image of Male">
        </div>
    </div>

    <div class="row">
        <div class="col-4 mt-5">
            <!--Benefit 5-->
            <img src="{% static 'images/default.png' %}" width="75%" alt="Image of Male">
        </div>
        <div class="col-8 mt-5">
            <p> Benefit 5</p>
        </div>
    </div>
</div>
{% endblock content %}