{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5">
    <div class="row">
        <div class="col-12 mt-5">
            <!-- Benefits Title -->
            <h2 class="text-center brand-title">What are the benefits of a Plant Based Diet?</h2>
        </div>
    </div>
</div>

<!--This is the 'Benefits'container-->
<div class="container mt-5 ">
    <div class="row mt-5">
        <!--Benefit 1-->
        <div class="col-md-4 my-3 mt-auto mb-auto text-center">
            <img src="{% static 'images/nutrition.jpg' %}" class="img-fluid " alt="Image of fruit and veg">
        </div>
        <div class="col-12 col-md-8 align-items-center justify-content-center">
            <p class="about-subtitle text-decoration-underline fs-3 fs-md-4 fs-lg-5 text-center">Better Nutrition</p>
            <p class="text-center lato-light-italic fs-3 fs-md-4 fs-lg-5">Plants are healthy, and most of us don't eat
                the
                recommended amount of fruits
                and veggies,
                so making the majority of your diet plant-based will up your produce consumption.
                Fruits and vegetables are rich in vitamins, minerals, antioxidants and fiber.
                Fiber is a nutrient that most of us don't get enough of, and it has tons of healthy perks:
                it's good for your heart, your gut and your blood sugar.</p>
        </div>
    </div>

    <div class="row mt-5 flex-md-row flex-column-reverse">
        <!--Benefit 2-->
        <div class="col-12 col-md-8 align-items-center justify-content-center">
            <p class="text-center text-decoration-underline about-subtitle fs-3 fs-md-4 fs-lg-5">A Healthier Heart</p>
            <p class="text-center lato-light-italic fs-3 fs-md-4 fs-lg-5">Eating a vegetarian diet may lower your
                risk
                of
                cardiovascular disease, and may
                improve other risk factors for heart
                disease by lowering your blood pressure and cholesterol, and improving your blood sugar control.
                Eating
                plant-based can
                also help quell inflammation, which raises your risk of heart disease by promoting plaque buildup in
                your arteries.</p>
        </div>
        <div class="col-md-4 my-3 mt-auto mb-auto text-center">
            <img src="{% static 'images/heart.jpg' %}" class="img-fluid" alt="Image of a heart">
        </div>
    </div>

    <div class="row mt-5">
        <!--Benefit 3-->
        <div div class="col-md-4 my-3 mt-auto mb-auto text-center">
            <img src="{% static 'images/diabetes.jpg' %}" class="img-fluid"
                alt="Image of a pineapple with a diabetes banner on it">
        </div>
        <div class="col-12 col-md-8 align-items-center justify-content-center">
            <p class="text-center text-decoration-underline about-subtitle fs-3 fs-md-4 fs-lg-5">Lower Diabetes Risk</p>
            <p class="text-center lato-light-italic fs-3 fs-md-4 fs-lg-5">Eating a vegetarian diet can help prevent and
                treat type 2
                diabetes, according
                to a 2021 study published in Advances in
                Nutrition. This is because plant-based diets improve insulin sensitivity, help with weight management
                and reduce your
                risk of cardiovascular disease. Plant-based foods also have more fiber than animal foods, and increased
                fiber intake has
                been associated with a decreased diabetes risk, according to a 2020 study published in the Journal of
                Diabetes
                Investigation.</p>
        </div>
    </div>

    <div class="row mt-5 flex-md-row flex-column-reverse">
        <!--Benefit 4-->
        <div class="col-12 col-md-8 align-items-center justify-content-center">
            <p class="text-center text-decoration-underline about-subtitle fs-3 fs-md-4 fs-lg-5">Decreased Cancer Risk
            </p>
            <p class="text-center lato-light-italic fs-3 fs-md-4 fs-lg-5">Research consistently shows that regularly
                eating plenty
                of fruits, veggies,
                legumes and grains—aka plants—is associated
                with a lower cancer risk. Plus, those disease-fighting phytochemicals in plants have also been shown to
                prevent and
                thwart cancer. And, don't forget, studies also show an association between eating red and processed
                meats and increased
                cancer risk, especially colorectal cancer. So there's benefit not only from just eating more plants, but
                also from
                replacing some less-healthy foods with plant-based foods.</p>
        </div>
        <div div class="col-md-4 my-3 mt-auto mb-auto text-center">
            <img src="{% static 'images/cancer.jpg' %}" class="img-fluid" alt="Image of the cancer awareness ribbon">
        </div>
    </div>
</div>
{% endblock content %}