{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!--This is the About Me container-->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <!--Page Title -->
            <h1 class="text-center brand-title">Meet the Team!</h1>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-4 text-center">
                        <img src="{% static 'images/nobody.jpg' %}" width="75%" />
                    </div>
                    <div class="col-8">
                        <h2 class="text-center">{{ about.title }}</h2>
                        <p>{{ about.content | safe }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <p class="text-end brand"><em>Updated on: {{ about.updated_on }}</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--This is the Behind the Scenes'container-->
<!--Subtitle-->
<div class="container mt-5 ">
    <h2 class="text-center brand-subtitle py-6"> Behind the Scenes!</h2>
</div>

<div class="container mt-5 ">
    <div class="row">
        <!--Team Member 1-->
        <div class="col-4 mt-5">
            <img src="{% static 'images/nobody.jpg' %}" width="75%" alt="Image of Male">
        </div>
        <div class="col-8 mt-5">
            <p>This will be the content about Male?????</p>
        </div>
    </div>


    <div class="row">
        <!--Team Member 2-->
        <div class="col-8 mt-5">
            <p> This will be the content about Female?????</p>
        </div>

        <div class="col-4 mt-5">
            <img src="{% static 'images/nobody.jpg' %}" width="75%" alt="Image of Male">
        </div>
    </div>

    <div class="row">
        <div class="col-4 mt-5">
            <!--Team Member 3-->
            <img src="{% static 'images/nobody.jpg' %}" width="75%" alt="Image of Male">
        </div>
        <div class="col-8 mt-5">
            <p> This will be the content about Pup?????</p>
        </div>
    </div>
</div>



<!--This is the Collaborate container-->
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-6 mt-5">
        <h2 class="text-center lato-light-italic">Do you want to get in touch or think we should collaborate?</h2>
        <p class="text-center lato-light-italic">We are big believers in 'Knowledge is Power'. <br>
            If you have a project in mind, want any advice on any or the content you have read,
            or would love to share your recipes, please get in touch!<br>
            We're excited to hear from you. <br>
            Please fill out the below form and lets get together!</p>

        <!-- Collaboration Form -->

        <form method="post">
            {{ collaborate_form | crispy }}
            {% csrf_token %}
            <div class="text-center">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

</div>
{% endblock content %}