{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" width="75%" />
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">

            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Do you want to get in touch or think we should collaborate?</h2>
            <p>We are big believers in 'Knowledge is Power'.
                If you have a project in mind, want any advice on any or the content you have read,
                or would love to share your recipes, please get in touch!
                We're excited to hear from you.
                Please fill out the below form and lets get together!</p>

            <!-- Collaboration Form -->

            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>
{% endblock content %}